.wrapper_young{
  display: grid;
  grid: 100px 1fr/ 1fr;
  background: #E5F1EA;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.wrapper_young > div:nth-of-type(1){
  width: 200px;
  height: 100px;
}
.wrapper_young > div > img{
  object-fit: cover;
}

.wrapper_young > ol {
  display: grid;
  grid: repeat(auto-fill, minmax(1fr,70px))/ 1fr;
  place-self: start center;
  width: 600px;
  background: transparent;
  grid-gap: 15px;
  height: calc(100vh - 200px);
  /*overflow-y: scroll;*/

}