.wrapper{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid: 1fr/ 1fr 1fr;
}

.wrapper section{
  background: red;
}

section:nth-of-type(1){
  background: #FBD8C0;
}
section:nth-of-type(2){
  background: #E5F1EA;
}

button{
  width: 200%;
  height: 80px;
}


.logo{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: white;
}

.wrapper section{
  display: grid;
  place-items: center;
}