.wrapper{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid: 1fr/ 1fr 1fr;
}

.wrapper section{
  background: red;
}

section:nth-of-type(1){
  background: #FBD8C0;
}
section:nth-of-type(2){
  background: #E5F1EA;
}

.wrapper > section >a{
  width: 500px;
  height: 120px;
  border-radius: 10px;
  border: 0;
}

.wrapper > section:nth-of-type(1) > a:nth-of-type(1){
  background: #E5F1EA;
}

.wrapper > section:nth-of-type(2) > a:nth-of-type(1){
  background: #FBD8C0;
}


.logo{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  background: transparent;
}

.wrapper section{
  display: grid;
  place-items: center;
}

img{
  object-fit: cover;
  transform: scale(.7);
  /*opacity: .8;*/
  width: 100%;
  height: 100%;

}

section > a{
  display: grid;
  /*place-self: center;*/
  text-align: center;
  line-height: 115px;
  text-decoration: none;
  color: rgba(0,0,0,.6);
  font-size: 40px;
  filter: drop-shadow(2px 2px 5px #98CEB4);

}