:root{
  --color-b: #E5F1EA ;
  --color-p: #FBD8C0 ;
}

.old_answers{
  overflow-x: hidden;
  display: grid;
  grid: 100px 1fr/ 1fr;
  background: var(--color-p);
  height: 200vh;
  width: calc(100vw - 17.5px);
  overflow-y: hidden;
}

.old_answers > div:nth-of-type(1){
  width: 200px;
  height: 100px;
}
.old_answers > div > img{
  object-fit: cover;
}

.old_answers > ol {
  top: -15px; position: relative;
  display: grid;
  grid: repeat(auto-fill, minmax(1fr,70px))/ 1fr;
  place-self: start center;
  width: 600px;
  background: var(--color-b);
  grid-gap: 15px;
  height: 150vh;
  list-style: none;
  padding: 10px;

}